<nav class="nav">
  <a href="/" class="brand">
    <span class="brand-full">Emilio Andrés Guerrero</span>
    <span class="brand-short">Emilio Andrés Guerrero</span>
  </a>

  <div class="nav-links">
    <a href="/consultoria">Consultoría</a>
    <a href="/proyectos">Proyectos</a>
    <a href="/certificaciones">Formación</a>
    <a href="/contacto">Contacto</a>
  </div>
</nav>
